<form class="{{ form_class|default('form-horizontal') }}" action="{{ path("fos_user_security_check") }}" method="post">
    <fieldset>
        <div class="control-group">
            <label class="control-label" for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
            <div class="controls">
                <input type="text" id="username" name="_username" value="" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
            <div class="controls">
                <input type="password" id="password" name="_password" />
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="checkbox" for="remember_me"><input type="checkbox" id="remember_me" name="_remember_me" value="on" />{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
            </div>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <div class="form-actions" style="text-align: center">
            <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
            {{ facebook_login_button({'autologoutlink': true}) }}
            <a class="btn" href="{{ path ('connect_twitter')}}">Login Via twitter</a>
        </div>
    </fieldset>
</form>